In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager,rc
# 한글 폰트
font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)

## 주요절차

### 1. 초기데이터 분석

In [6]:
file1 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202301.csv',encoding='cp949')
file2 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202302.csv',encoding='cp949')
file3 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202303.csv',encoding='cp949')
file4 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202304.csv',encoding='cp949')
file5 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202305.csv',encoding='cp949')
file6 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202306.csv',encoding='cp949')
file7 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202307.csv',encoding='cp949')
file8 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202308.csv',encoding='cp949')
file9 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202309.csv',encoding='cp949')
file10 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202310.csv',encoding='cp949')
file11 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202311.csv',encoding='cp949')
file12 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202312.csv',encoding='cp949')

result = pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12])
result.head()

   기준년도  기준월     법정동코드 법정동명 표준산업대분류코드                표준산업대분류명  1인당 소비 금액
0  2023    1  30200126  가정동         C              제조업(10-34)      33800
1  2023    1  30200126  가정동         G         도매 및 소매업(45-47)      40200
2  2023    1  30200126  가정동         I        숙박 및 음식점업(55-56)      21300
3  2023    1  30200126  가정동         P             교육 서비스업(85)      74400
4  2023    1  30200126  가정동         Q  보건업 및 사회복지 서비스업(86-87)      17800

#### 1-1. 데이터딕셔너리(각 열의 의미, 데이터의 의미해석관련 스펙 또는 메뉴얼) 확인
#### 1-2 데이터 기초정보 확인 (사이즈, 열이름, 데이터형)

In [8]:
result.표준산업대분류명.value_counts()

표준산업대분류명
숙박 및 음식점업(55-56)                   605
도매 및 소매업(45-47)                    580
협회 및 단체  수리 및 기타 개인 서비스업(94-96)    552
교육 서비스업(85)                        550
예술  스포츠 및 여가관련 서비스업(90-91)         447
보건업 및 사회복지 서비스업(86-87)             404
공공 행정 국방 및 사회보장 행정(84)             358
전문  과학 및 기술 서비스업(70-73)            353
제조업(10-34)                         336
운수 및 창고업(49-52)                    287
건설업(41-42)                         170
사업시설 관리  사업 지원 및 임대 서비스업(74-76)    151
금융 및 보험업(64~66)                    107
부동산업(68)                            56
정보통신업(58-63)                        51
금융 및 보험업(64-66)                      7
Name: count, dtype: int64

In [9]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5014 entries, 0 to 446
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준년도       5014 non-null   int64
 1   기준월        5014 non-null   int64
 2   법정동코드      5014 non-null   int64
 3   법정동명       5014 non-null   object
 4   표준산업대분류코드  5014 non-null   object
 5   표준산업대분류명   5014 non-null   object
 6   1인당 소비 금액  5014 non-null   int64
dtypes: int64(4), object(3)
memory usage: 313.4+ KB

* 기초통계정보 확인

기초 통계값 확인 ( df.describe() )
[수치형 데이터] 
=> 수치데이터로서 의미가 는지 판단? (이상치, 아웃라이어 확인)
=> 의미가 있는(예: 키, 몸무게, 가격등) 열에 대해 아래 작업 진행  분석
 - 확인해야 할 사항    수치상
mean, min, 1q, 2q(중위값),  최대값 가격
 - 시각화
  히스토그램, 박스플롯 (바이올린플롯)
 - 이상치 유무 확인
 - 이상치가 있다면 보정방식을 선택
  (예, 단일값, 보정: 삭제이상치 수정이후 , 포함)
- 기초통계값과, 차치가 [보 재  데이터]유무 확인)
- 문자열
 => unique의 결과값에서 파이차트나 막대차트로 그릴수  - 있는 열이 있는지 확인
 10개미만은 파이차트,  - 도우넛차트 그리기에 용이
 10개상위 은 파이차트, 막대차트(Top3,5,10 등을 도출.. 그리고 형 데이터나하위 데이터3,5,10)

* 수치 문자 중에 범위화 할 
 예)수 있는 열이 있는지 확인해 보자
 가격=> 초고가, 고가,위 작업은  일반, 저가 함수를 통해ly 함수를 통해

### 2. 데이터 정제

In [12]:
use_cols = ["기준월", "법정동명", "표준산업대분류명", "1인당 소비 금액"]
df = result[use_cols].copy()
df

     기준월 법정동명                         표준산업대분류명  1인당 소비 금액
0      1  가정동                       제조업(10-34)      33800
1      1  가정동                  도매 및 소매업(45-47)      40200
2      1  가정동                 숙박 및 음식점업(55-56)      21300
3      1  가정동                      교육 서비스업(85)      74400
4      1  가정동           보건업 및 사회복지 서비스업(86-87)      17800
..   ...  ...                              ...        ...
442   12  화암동                 숙박 및 음식점업(55-56)      26900
443   12  화암동           공공 행정 국방 및 사회보장 행정(84)      40800
444   12  화암동                      교육 서비스업(85)     445800
445   12  화암동           보건업 및 사회복지 서비스업(86-87)     575500
446   12  화암동  협회 및 단체  수리 및 기타 개인 서비스업(94-96)     289200

[5014 rows x 4 columns]

#### 2.1. 원본데이터에서 분석가능한 형태로 데이터 전처리 (형변환, 열이름 변경등)
#### 2.2. 데이터 클리닝: 이상치, 결측치처리

### 3. 추가데이터 분석

#### 3.1 데이터 정제후 데이터딕셔너리 재확인
#### 3.2 기초통계 정보 확인 (최대값, 최소값, 평균값, 표준편차, 최빈값, 유일값 등)
#### 3.3 시각화를 통한 데이터이해 심화

* 3.3.1 단일 열: 데이터의 성격에 따른 다양한 차트 적용  
* 3.3.2 복수 열: 두개의 열간 연관관계 분석(Pair Plot 또는 Seaborn의 관련 지원 차트등)

#### 3.4 데이터 분석 결과도출

# 데이터분석 적용 실습 템플릿

## 데이터 수집

In [1]:
# 데이터 소스를 확보하세요

## 1. 초기데이터 분석

### 1-1. 데이터스키마 확인

#### 각 열의 의미, 데이터의 의미해석관련 스펙 또는 메뉴얼을 확인 가능시 진행 하세요
* A열: A열의 의미를 기술
* B열: B열의 의미를 기술  
...

### 1-2. 데이터 기초정보 확인

* 사이즈, 데이터형, 기초통계항목등을 확인하세요

In [ ]:
#df.shape
#df.info()

* 기초통계항목

In [ ]:
# df.desribe()

## 2. 데이터 정제

### 2-1. 간단한 데이터 전처리

In [5]:
# 원본데이터로에서 읽기 가능한 형태로 데이터처리를 하세요. (열이름 변경, 형변환 등)

### 2-2. 데이터 클리닝

In [6]:
# 결측치, 중복값, 이상치 처리등의 작업을 진행하세요

* 결측치

    - 결측치 열 확인

In [ ]:
# missing_values = df.isnull().any()  
# column_missing_values = missing_values[ missing_values == True ]
# column_missing_values

   - 결측값이 있는 모든 행 확인

In [ ]:
# df.isnull().any(axis=1)

* 결측치 보정

   - 열에 대하여 단일 값 보정

In [ ]:
# df['나이'] = df['나이'].fillna(0)

   - 데이터 프레임 전체에 단일 값 보정

In [1]:
# df = df.fillna(0)

* 중복값 삭제 (필요시)

  - 모든 중복 행데이터 확인

In [ ]:
# df[df.duplicated(keep=False)]

  - 모든 중복 행데이터 삭제

In [ ]:
# df.drop_duplicates(inplace=True)

## 3. 추가데이터 분석

### 3.1. 데이터 정제후 데이터스키마 재확인

* 1-2 작업을 다시 해보세요.

### 3.2 데이터 기초정보 정보 확인

* 최대값, 최소값, 평균값, 표준편차, 최빈값, 유일값, 결측치, 이상치 등의 정보를 재확인해 보세요

### 3.3 시각화를 통한 데이터이해 심화

* 데이터의 성격에 따라 이해도를 올리기 위해 시각화가 필요한 데이터차트를 만들어 보세요.  
    * (Seaborn 추천: 페어플롯, 막대차트, 파이차트, 라인차트, 히스토그램등..)
    * 차트 분석시 hue인자를 활용해서 범주형 열에 대한 추가 분석을 해보세요.
* 시각화한 차트에 대한 분석

### 3.4 최종 데이터 분석 결과도출

* 데이터 분석을 통해 얻은 새로운 지식, 인사이트를 정리하세요.
* 새로운 지식 및 인사이트 별 비지니스 전략을 도출할 수 있으면 정리해 보세요