In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoSuchElementException
import time

# 웹 드라이버 초기화
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# 크롤링할 웹사이트 URL
url = 'http://localhost:8080/page1.html'
driver.get(url)

# 결과를 저장할 리스트
books = []

In [3]:
try:
    while True:
        driver.implicitly_wait(3) 

        items = driver.find_elements(By.TAG_NAME, 'li')
        for item in items:
            # 책의 제목과 가격 정보 분리
            title, price = item.text.split(' - ')
            books.append({'title': title, 'price': price})

        next_links = driver.find_elements(By.TAG_NAME, 'a')
        if next_links:
            next_links[0].click()
        else:
            break
finally:
    driver.close()

In [4]:
import pandas as pd
# 데이터 프레임 생성
books_df = pd.DataFrame(books)
books_df

    title price
0  Book 1   $10
1  Book 2   $15
2  Book 3   $20
3  Book 4   $12
4  Book 5   $18
5  Book 6   $25
6  Book 7   $30
7  Book 8   $35