# 시리즈 기초 동작

- 시리즈(Series): 데이터 프레임(2차원 데이터)에서 열을 표현할 수 있는 벡터(벡터: 1차원 배열)

In [3]:
import pandas as pd #관용적으로 pandas 모델을 pd로 별칭하여 사용함.

In [4]:
# 버전확인
pd.__version__

'2.2.3'

* 시리즈 생성하는 문법
    * pd.Series([시리즈데이터]) : 보통 리스트로 생성

In [6]:
ser1 = pd.Series([1,2,3])
ser1

0    1
1    2
2    3
dtype: int64

# 판다스에서 내부적으로 처리하는 데이터가 존재: 숫자 타입 => int64

# 기본 브로드 캐스팅 연산

## 동일 요소간 리스트 연산

In [7]:
list1 =[1,2,3]
list2 =[1,2,3]
list1 + list2

[1, 2, 3, 1, 2, 3]

* 서로 다른 리스트에서 동일 요소간 + 연산을 하려면?

In [8]:
# 파이썬 기본문법으로 작성할 경우
result = []
for index in range(len(list1)):
    # print(index)
    result.append( list1[index] + list2[index] )
result

[2, 4, 6]

## 동일 요소간 시리즈 연산

In [9]:
ser2 = pd.Series([1,2,3])
ser2

0    1
1    2
2    3
dtype: int64

In [10]:
ser1

0    1
1    2
2    3
dtype: int64

* 시리즈의 요소가 같을 경우에는 같은 요소끼리 연산자를 적용한다.
* 연산 결과를 반환하고 개별 시리즈는 변경되지 않는다.

In [11]:
ser1 + ser2

0    2
1    4
2    6
dtype: int64

## 동일 요소가 아닌 경우

## 파이썬 리스트 버전

In [13]:
#수학 성적이라고 가정하고 너무 점수가 낮아 전체적으로 기본점수(50)을 주려고 한다.
scores = [10,20,30] 
for index in range(len(scores)):
    # scores[index] = scores[index] + 50
    scores[index] += 50
scores

[60, 70, 80]

## 시리즈 버전

In [14]:
s_scores = pd.Series([10,20,30])
s_scores

0    10
1    20
2    30
dtype: int64

In [15]:
s_scores + 50

0    60
1    70
2    80
dtype: int64

- 시리즈간 요소의 개수가 맞지 않을 경우

In [16]:
ser1 =pd.Series([1,2,3])
ser2 =pd.Series([1,2,3,4])
ser1 + ser2

판다스에서 정의되지 않은 값은 NaN 으로 표기한다.
NaN과의 모든 연산은 NaN이다.
요소가 있을 경우에는 정상 브로드캐스팅 연산을 하고 요소가 없는 경우에는 NaN으로 처리한다.

연습문제] 아래 직원연봉 정보에서 연봉을 4.5% 인상하는 프로그램 작성하세요
[3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]

In [17]:
salaries = [3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]
salaries_increase = []

for salary in salaries:
    increased_salary = salary * 1.045
    salaries_increase.append(increased_salary)

print(salaries_increase)

[3887.3999999999996, 5705.7, 4389.0, 6792.499999999999, 7445.624999999999, 5956.5, 7879.299999999999, 4075.4999999999995, 7085.099999999999, 5036.9]

* 시리즈버전

In [20]:
pd.Series([3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]) *1.045

0    3887.400
1    5705.700
2    4389.000
3    6792.500
4    7445.625
5    5956.500
6    7879.300
7    4075.500
8    7085.100
9    5036.900
dtype: float64