# Pandas 연습문제 (8개)
본 노트북은 Series와 DataFrame의 기초 문법(생성, 열 연산, 브로드캐스팅, 비교/불리언 마스크, 평균 계산 등)만으로 풀 수 있는 문제로 구성되어 있습니다.

> 각 문제 아래에 정답 예시 코드가 포함되어 있습니다.

In [ ]:
import pandas as pd

## 문제 1: Series 생성
값이 [10, 20, 30]인 시리즈 s1을 생성하고 출력하세요. (인덱스는 기본값 사용)

In [ ]:
import pandas as pd
s1 = pd.Series([10, 20, 30])
s1

## 문제 2: Series 연산
값이 [5, 15, 25]인 시리즈 s2를 생성하고, s1 + s2의 결과를 출력하세요.

In [ ]:
import pandas as pd
s1 = pd.Series([10, 20, 30])
s2 = pd.Series([5, 15, 25])
s1 + s2

## 문제 3: 브로드캐스팅
시리즈 s1에 정수 10을 더한 결과를 출력하세요. (브로드캐스팅 활용)

In [ ]:
import pandas as pd
s1 = pd.Series([10, 20, 30])
s1 + 10

## 문제 4: DataFrame 생성 & head
다음 데이터를 이용하여 DataFrame을 생성하고, head(2)로 상위 2개 행만 출력하세요.

data = {
    '이름': ['홍길동', '김철수', '이영희'],
    '나이': [25, 30, 35]
}

In [ ]:
import pandas as pd
data = {
    '이름': ['홍길동', '김철수', '이영희'],
    '나이': [25, 30, 35]
}
df = pd.DataFrame(data)
df.head(2)

## 문제 5: 컬럼명 변경
문제 4에서 만든 DataFrame의 컬럼명을 'Name', 'Age'로 변경하고 출력하세요.

In [ ]:
import pandas as pd
data = {
    '이름': ['홍길동', '김철수', '이영희'],
    '나이': [25, 30, 35]
}
df = pd.DataFrame(data)
df.columns = ['Name', 'Age']
df

## 문제 6: 신규 열 추가 (백만원 단위)
아래 df에서 '대학교 등록금'을 백만원 단위로 변환한 열 '등록금_백만원'을 추가하세요.

df = pd.DataFrame({
    '대학': ['가람대', '누리대', '한빛대', '다온대', '이룸대'],
    '지역': ['서울', '부산', '대구', '광주', '대전'],
    '대학교 등록금': [7200000, 5800000, 6400000, 5100000, 6800000]
})

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '대학': ['가람대', '누리대', '한빛대', '다온대', '이룸대'],
    '지역': ['서울', '부산', '대구', '광주', '대전'],
    '대학교 등록금': [7200000, 5800000, 6400000, 5100000, 6800000]
})
df['등록금_백만원'] = df['대학교 등록금'] / 1_000_000
df

## 문제 7: 고액 등록금 여부
위 df에 등록금이 6,500,000원 이상이면 True인 불리언 열 '고액등록금'을 추가하세요.

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '대학': ['가람대', '누리대', '한빛대', '다온대', '이룸대'],
    '지역': ['서울', '부산', '대구', '광주', '대전'],
    '대학교 등록금': [7200000, 5800000, 6400000, 5100000, 6800000]
})
df['고액등록금'] = df['대학교 등록금'] >= 6_500_000
df