# Pandas 연습문제 (8개)
본 노트북은 Series와 DataFrame의 기초 문법(생성, 열 연산, 브로드캐스팅, 비교/불리언 마스크, 평균 계산 등)만으로 풀 수 있는 문제로 구성되어 있습니다.

> 아래 각 문제 밑의 코드 셀에 직접 풀이 코드를 작성하세요.

In [2]:
import pandas as pd

## 문제 1: Series 생성
값이 [10, 20, 30]인 시리즈 s1을 생성하고 출력하세요. (인덱스는 기본값 사용)

In [11]:
# 여기에 풀이 코드를 작성하세요.
s1= pd.Series([10,20,30])
s1

0    10
1    20
2    30
dtype: int64

## 문제 2: Series 연산
값이 [5, 15, 25]인 시리즈 s2를 생성하고, s1 + s2의 결과를 출력하세요.

In [6]:
# 여기에 풀이 코드를 작성하세요.
s2=pd.Series([5,15,25])
s1+s2

0    15
1    35
2    55
dtype: int64

## 문제 3: 브로드캐스팅
시리즈 s1에 정수 10을 더한 결과를 출력하세요. (브로드캐스팅 활용)

In [12]:
# 여기에 풀이 코드를 작성하세요.
s1 +10

0    20
1    30
2    40
dtype: int64

## 문제 4: DataFrame 생성 & head
다음 데이터를 이용하여 DataFrame을 생성하고, head(2)로 상위 2개 행만 출력하세요.

data = {
    '이름': ['홍길동', '김철수', '이영희'],
    '나이': [25, 30, 35]
}

In [27]:
# 여기에 풀이 코드를 작성하세요.
data = { '이름': ['홍길동', '김철수', '이영희'], '나이': [25, 30, 35] }
agedata=pd.DataFrame(data)
agedata.head(2)

    이름  나이
0  홍길동  25
1  김철수  30

## 문제 5: 컬럼명 변경
문제 4에서 만든 DataFrame의 컬럼명을 'Name', 'Age'로 변경하고 출력하세요.

In [28]:
# 여기에 풀이 코드를 작성하세요.
agedata = agedata.rename(columns={'이름': 'Name'})
agedata = agedata.rename(columns={'나이': 'Age'})
agedata

  Name  Age
0  홍길동   25
1  김철수   30
2  이영희   35

## 문제 6: 신규 열 추가 (백만원 단위)
아래 df에서 '대학교 등록금'을 백만원 단위로 변환한 열 '등록금_백만원'을 추가하세요.

df = pd.DataFrame({
    '대학': ['가람대', '누리대', '한빛대', '다온대', '이룸대'],
    '지역': ['서울', '부산', '대구', '광주', '대전'],
    '대학교 등록금': [7200000, 5800000, 6400000, 5100000, 6800000]
})

In [16]:
# 여기에 풀이 코드를 작성하세요.
df = pd.DataFrame({ '대학': ['가람대', '누리대', '한빛대', '다온대', '이룸대'], '지역': ['서울', '부산', '대구', '광주', '대전'], '대학교 등록금': [7200000, 5800000, 6400000, 5100000, 6800000] })
df['등록금_백만원'] =df['대학교 등록금'] /1000000
df

    대학  지역  대학교 등록금  등록금_백만원
0  가람대  서울  7200000      7.2
1  누리대  부산  5800000      5.8
2  한빛대  대구  6400000      6.4
3  다온대  광주  5100000      5.1
4  이룸대  대전  6800000      6.8

## 문제 7: 고액 등록금 여부
위 df에 등록금이 6,500,000원 이상이면 True인 불리언 열 '고액등록금'을 추가하세요.

In [30]:
# 여기에 풀이 코드를 작성하세요.
df['고액등록금'] = df['대학교 등록금'] >=6500000
df

    대학  지역  대학교 등록금  등록금_백만원  고액등록금
0  가람대  서울  7200000      7.2   True
1  누리대  부산  5800000      5.8  False
2  한빛대  대구  6400000      6.4  False
3  다온대  광주  5100000      5.1  False
4  이룸대  대전  6800000      6.8   True