In [1]:
import pandas as pd

* 파일 읽기

In [2]:
ct = pd.read_csv('data/2017_college_tuition.csv', encoding='cp949' )

* 실데이터 원본을 볼 수 있으면 본다.

In [4]:
ct

           학교명 설립구분  평균등록금
0      강릉원주대학교  국공립   4262
1        강원대학교  국공립   4116
2    경남과학기술대학교  국공립   3771
3        경북대학교  국공립   4351
4        경상대학교  국공립   3967
..         ...  ...    ...
191      호남대학교   사립   6482
192    호남신학대학교   사립   6438
193      호서대학교   사립   7695
194      호원대학교   사립   6929
195      홍익대학교   사립   8297

[196 rows x 3 columns]

* 데이터 샘플 조회

In [5]:
ct.tail()

         학교명 설립구분  평균등록금
191    호남대학교   사립   6482
192  호남신학대학교   사립   6438
193    호서대학교   사립   7695
194    호원대학교   사립   6929
195    홍익대학교   사립   8297

* 데이터 사이즈 윤곽을 간단하게 파악

In [11]:
ct.shape

(196, 3)

* 데이터 요약정보 참조

In [12]:
ct.describe

<bound method NDFrame.describe of            학교명 설립구분  평균등록금
0      강릉원주대학교  국공립   4262
1        강원대학교  국공립   4116
2    경남과학기술대학교  국공립   3771
3        경북대학교  국공립   4351
4        경상대학교  국공립   3967
..         ...  ...    ...
191      호남대학교   사립   6482
192    호남신학대학교   사립   6438
193      호서대학교   사립   7695
194      호원대학교   사립   6929
195      홍익대학교   사립   8297

[196 rows x 3 columns]>

* 주피터에서 확인 가능한 최대사이즈의 셈플 확인

In [6]:
ct.info

<bound method DataFrame.info of            학교명 설립구분  평균등록금
0      강릉원주대학교  국공립   4262
1        강원대학교  국공립   4116
2    경남과학기술대학교  국공립   3771
3        경북대학교  국공립   4351
4        경상대학교  국공립   3967
..         ...  ...    ...
191      호남대학교   사립   6482
192    호남신학대학교   사립   6438
193      호서대학교   사립   7695
194      호원대학교   사립   6929
195      홍익대학교   사립   8297

[196 rows x 3 columns]>

# 특정열 조회

* 시리즈 형태로

In [14]:
ct.['학교명'].head()

SyntaxError: invalid syntax (157348084.py, line 1)

* 데이터 프레임 형태로

In [16]:
school = pd.DataFrame(ct['학교명'])
school

           학교명
0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
..         ...
191      호남대학교
192    호남신학대학교
193      호서대학교
194      호원대학교
195      홍익대학교

[196 rows x 1 columns]

In [17]:
ct.columns

Index(['학교명', '설립구분', '평균등록금'], dtype='object')

In [18]:
ct['설립구분'].head()

0    국공립
1    국공립
2    국공립
3    국공립
4    국공립
Name: 설립구분, dtype: object

In [19]:
ct['평균등록금']

0      4262
1      4116
2      3771
3      4351
4      3967
       ...
191    6482
192    6438
193    7695
194    6929
195    8297
Name: 평균등록금, Length: 196, dtype: int64

In [20]:
pd.DataFrame(ct['평균등록금'])

     평균등록금
0     4262
1     4116
2     3771
3     4351
4     3967
..     ...
191   6482
192   6438
193   7695
194   6929
195   8297

[196 rows x 1 columns]

# 기본 검색

## 시리즈에서 개별 인덱스 검색  
시리즈[인덱스명] => 해당 인덱스의 값 반환

In [21]:
ct['학교명'].head()

0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
Name: 학교명, dtype: object

* 강원대학교 조회

In [22]:
ct['학교명'][1]

'강원대학교'

In [26]:
ct['학교명'][3]

'경북대학교'

In [29]:
ct['학교명'][192]

'호남신학대학교'

In [ ]:
ct['학교명'] == '호남신학대학교'

## 슬라이스 검색
### 시리즈

In [30]:
ct['학교명'].head(10)

0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
5      경인교육대학교
6      공주교육대학교
7        공주대학교
8      광주교육대학교
9        군산대학교
Name: 학교명, dtype: object

In [31]:
ct['학교명'][:7]

0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
5      경인교육대학교
6      공주교육대학교
Name: 학교명, dtype: object

In [32]:
ct['학교명'][60:70]

60       광운대학교
61    광주가톨릭대학교
62       광주대학교
63     광주여자대학교
64       국민대학교
65       극동대학교
66       금강대학교
67       김천대학교
68      꽃동네대학교
69      나사렛대학교
Name: 학교명, dtype: object

### 데이터 프레임

### 데이터 프레임에서 슬라이싱

데이터 프레임[행인덱스 슬라이싱조건]  
해당 값을 데이터 프레임형태로 반환

In [33]:
ct[60:70]

         학교명 설립구분  평균등록금
60     광운대학교   사립   7800
61  광주가톨릭대학교   사립      0
62     광주대학교   사립   6497
63   광주여자대학교   사립   6269
64     국민대학교   사립   7853
65     극동대학교   사립   7336
66     금강대학교   사립   6564
67     김천대학교   사립   6980
68    꽃동네대학교   사립   7031
69    나사렛대학교   사립   7115