# 결측값/문자열/자료형/필터링 연습문제 (문제만)

사용 문법: `import pandas as pd`, `pd.DataFrame`, `df.isnull()`, `df.isnull().any(axis=0/1)`, `df.dropna(subset=[...])`, `df.loc[...]`, `df.select_dtypes(include=["object"])`, `Series.value_counts()`, `df.nlargest(n, col)`, `Series/DataFrame.fillna(...)`, `Series/DataFrame.interpolate(...)`

## 0) 공통 데이터셋 (학교별, 12행)

In [2]:

import pandas as pd

data = {
    "학교":      ["한빛대", "청솔대", "해오름대", "누리대", "한빛대 분교", "수성대", "대명대", "강북대", "남산대", "동성대", "가온대", "별무리대"],
    "지역":      ["서울", "대구", "부산", "대구", "서울", "대구", "대구", "서울", "부산", "대전", None, "서울"],
    "설립구분":   ["사립", "국립", "사립", "사립", "사립", "국립", "사립", "사립", "국립", "사립", "사립", "국립"],
    "학생수":     [12000, 8000, None, 5000, 6000, 7000, None, 9000, 11000, 4000, 3000, None],
    "평균등록금": [720.0, 680.0, 750.0, None, 710.0, 690.0, 720.0, 705.0, None, 660.0, 640.0, 730.0],
    "전화번호":   ["02-1111-2222", None, "051-222-3333", "053-444-5555", "02-7777-8888", None, "053-999-0000", "02-333-4444", None, "042-111-2222", "02-555-6666", None],
    "홈페이지":   ["hanbit.ac.kr", "chs.ac.kr", "sunrise.ac.kr", "nuri.ac.kr", None, "susung.ac.kr", "daemyeong.ac.kr", "gb.ac.kr", "namsan.ac.kr", None, "gaon.ac.kr", "star.ac.kr"],
    "만족도":     [4.1, None, 3.8, 4.0, None, 4.2, None, 3.9, 4.3, None, 3.7, 4.0],
    "개교연도":   [1980, 1975, 1990, 2001, 2005, 1988, 1995, 1972, 1983, 2003, 2010, 1999]
}

df = pd.DataFrame(data)
df

,학교,지역,설립구분,학생수,평균등록금,전화번호,홈페이지,만족도,개교연도
0,한빛대,서울,사립,12000.0,720.0,02-1111-2222,hanbit.ac.kr,4.1,1980
1,청솔대,대구,국립,8000.0,680.0,None,chs.ac.kr,NaN,1975
2,해오름대,부산,사립,NaN,750.0,051-222-3333,sunrise.ac.kr,3.8,1990
3,누리대,대구,사립,5000.0,NaN,053-444-5555,nuri.ac.kr,4.0,2001
4,한빛대 분교,서울,사립,6000.0,710.0,02-7777-8888,None,NaN,2005
5,수성대,대구,국립,7000.0,690.0,None,susung.ac.kr,4.2,1988
6,대명대,대구,사립,NaN,720.0,053-999-0000,daemyeong.ac.kr,NaN,1995
7,강북대,서울,사립,9000.0,705.0,02-333-4444,gb.ac.kr,3.9,1972
8,남산대,부산,국립,11000.0,NaN,None,namsan.ac.kr,4.3,1983
9,동성대,대전,사립,4000.0,660.0,042-111-2222,None,NaN,2003
10,가온대,None,사립,3000.0,640.0,02-555-6666,gaon.ac.kr,3.7,2010
11,별무리대,서울,국립,NaN,730.0,None,star.ac.kr,4.0,1999

## 1) 결측값이 있는 **열 정보** 식별

In [3]:
# 여기에 코드를 작성하세요
missing_cols_mask = df.isnull().any(axis=0)
missing_cols_mask

학교       False
지역        True
설립구분     False
학생수       True
평균등록금     True
전화번호      True
홈페이지      True
만족도       True
개교연도     False
dtype: bool

## 2) 결측치가 있는 **전체 행** 필터링

In [6]:
# 여기에 코드를 작성하세요
row_nan = df.isnull().any(axis=1)
df[row_nan]

,학교,지역,설립구분,학생수,평균등록금,전화번호,홈페이지,만족도,개교연도
1,청솔대,대구,국립,8000.0,680.0,None,chs.ac.kr,NaN,1975
2,해오름대,부산,사립,NaN,750.0,051-222-3333,sunrise.ac.kr,3.8,1990
3,누리대,대구,사립,5000.0,NaN,053-444-5555,nuri.ac.kr,4.0,2001
4,한빛대 분교,서울,사립,6000.0,710.0,02-7777-8888,None,NaN,2005
5,수성대,대구,국립,7000.0,690.0,None,susung.ac.kr,4.2,1988
6,대명대,대구,사립,NaN,720.0,053-999-0000,daemyeong.ac.kr,NaN,1995
8,남산대,부산,국립,11000.0,NaN,None,namsan.ac.kr,4.3,1983
9,동성대,대전,사립,4000.0,660.0,042-111-2222,None,NaN,2003
10,가온대,None,사립,3000.0,640.0,02-555-6666,gaon.ac.kr,3.7,2010
11,별무리대,서울,국립,NaN,730.0,None,star.ac.kr,4.0,1999

## 3) **2개 열에 있는 결측치** 행 필터링 (예: 학생수, 평균등록금 중 하나라도 NaN)

In [11]:
# 여기에 코드를 작성하세요
2na = ["학생수","평균등록금"]
mask_2na = df[2na].isnull().any(axis=1)
df[mask_2na]

SyntaxError: invalid decimal literal (1983355721.py, line 2)

## 4) 결측치가 **없는 전체 행** 필터링

In [ ]:
# 여기에 코드를 작성하세요

## 5) **2개 열에 결측치가 없는** 행 필터링 (subset 활용: 학생수, 평균등록금)

In [ ]:
# 여기에 코드를 작성하세요

## 6) 범주형 데이터 열에서 '설립구분, 지역' 열에 대해서 **유형별 갯수** 구하기 (힌트: value_counts)

In [ ]:
# 여기에 코드를 작성하세요

## 7) **수치형 열 별 상위 Top3 값** 구하기 (예: 평균등록금, 학생수)

In [ ]:
# 여기에 코드를 작성하세요

## 8) **문자열(객체) dtype인 모든 열만** 선택해서 보기 (select_dtypes)

In [ ]:
# 여기에 코드를 작성하세요

## 9) **단일 값으로 결측값 처리** (fillna): 평균등록금=700.0, 전화번호='정보없음'

In [ ]:
# 여기에 코드를 작성하세요

## 10) 보간법용 별도 데이터셋 (연도별 평균등록금)

In [ ]:

import pandas as pd

df_fee_year = pd.DataFrame({
    "연도": [2018, 2019, 2020, 2021, 2022, 2023],
    "평균등록금": [700, 710, None, 730, None, 750]
})
df_fee_year

## 10) **보간법으로 결측값 처리** (interpolate) — 별도 데이터셋(df_fee_year)의 평균등록금 보간

In [ ]:
# 여기에 코드를 작성하세요

## 11) **특정 열에서 결측값이 있는 모든 행** 삭제 (예: 홈페이지)

In [ ]:
# 여기에 코드를 작성하세요