# 피봇 / 그룹바이 연습문제 
- 사용 문법: `pivot`, `pivot_table(aggfunc=...)`, `groupby().agg(...)`, `loc`, `xs`
- 다중 인덱스/다중 컬럼: `index=[...]`, `columns=[...]`
- **Dataset A는 pivot 전용**으로 `values`는 **문자열(비수치)** 만 사용합니다.

### Dataset A (Q1–Q2, pivot only)

In [2]:

import pandas as pd

df_a = pd.DataFrame({
    "학교": ["동해중","동해중","서해중","서해중","남해중","남해중"],
    "학년": [1,2,1,2,2,3],
    "반장": ["민지","도윤","서연","지호","유진","건우"],
    "동아리": ["합창","축구","미술","과학","연극","미술"]
})
df_a

    학교  학년  반장 동아리
0  동해중   1  민지  합창
1  동해중   2  도윤  축구
2  서해중   1  서연  미술
3  서해중   2  지호  과학
4  남해중   2  유진  연극
5  남해중   3  건우  미술

## 1) 집계 없는 Pivot테이블 문제 1
학교 × 학년 기준으로 **이름** 재배치 (`pivot`)

## 2) 집계 없는 Pivot테이블 문제 2
학교 × 학년 기준으로 **동아리** 재배치 (`pivot`)

---

### Dataset B (Q3–Q5, Q11)

In [ ]:

df_b = pd.DataFrame({
    "서점": ["서울서점","서울서점","서울서점","부산서점","부산서점","대구서점","대구서점","대구서점","대구서점"],
    "연도": [2022,2022,2023,2022,2023,2022,2022,2023,2023],
    "월":   [1,2,1,1,1,1,2,1,2],
    "판매권수": [120, 150, 200, 90, 110, 80, 70, 130, 140]
})
df_b

## 3) `pivot_table` 합계
서점 × 연도 기준 **판매권수 합계**

## 4) `pivot_table` 평균
서점 × 연도 기준 **판매권수 평균**

## 5) `pivot_table` (다중 컬럼)
서점 × (연도, 월) 기준 **판매권수 합계**

## 11) `pivot_table` — 행 MultiIndex + 행 조회
(서점 × 연도 행) x 월 MultiIndex 후 특정 행 조회 (`loc`/`xs`)

### Dataset C (Q6–Q10, Q12)

In [ ]:

df_c = pd.DataFrame({
    "판매처":   ["A상회","A상회","A상회","B마트","B마트","C몰","C몰","C몰","C몰"],
    "제품":     ["사과","배","사과","사과","배","배","사과","사과","포도"],
    "분기":     ["Q1","Q1","Q2","Q1","Q2","Q1","Q2","Q3","Q3"],
    "판매량":   [100, 80, 120, 90, 110, 70, 60, 140, 130],
    "판매금액": [200,160, 240, 180, 220, 140,120, 280, 260]
})
df_c

## 6) groupby 평균
판매처별 **평균 판매량**

## 7) groupby 최대
판매처별 **최대 판매량**

## 8) groupby 여러 집계
판매처별 **판매량의 평균·최대·최소**

## 9) groupby 다중 그룹(2개)
판매처 × 제품 기준 **판매량의 평균·최대·최소**

## 10) groupby 다중 그룹(3개)
판매처 × 제품 × 분기 기준 **판매량 합계**

## 12) groupby — 행 MultiIndex + 행 조회
판매처 × 제품으로 MultiIndex 후 특정 조합 조회 (`loc`/`xs`)