In [1]:
import pandas as pd

# 시리즈 멤버 속성 알아보기

In [3]:
sr = pd.Series([1,2,3,4], name="SR1", index=list('abcd'))
sr

a    1
b    2
c    3
d    4
Name: SR1, dtype: int64

In [4]:
sr.name

'SR1'

In [5]:
sr.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
sr =pd.Series( [80, 90, 85], name = "홍길동_모의고사정보", index=['1차성적','2차성적','3차성적'])
sr

1차성적    80
2차성적    90
3차성적    85
Name: 홍길동_모의고사정보, dtype: int64

In [7]:
sr.name

'홍길동_모의고사정보'

In [8]:
sr.index

Index(['1차성적', '2차성적', '3차성적'], dtype='object')

# 판다스의 기본 데이터 타입

* 정수: int64
* 실수: float64
* 문자열: object

In [9]:
sr =pd.Series( [80.5, 90.7, 85.1], name = "홍길동_모의고사정보", index=['1차성적','2차성적','3차성적'])
sr

1차성적    80.5
2차성적    90.7
3차성적    85.1
Name: 홍길동_모의고사정보, dtype: float64

In [10]:
sr =pd.Series( ['우수등급', '최우수등급', '우수등급'], name = "홍길동_모의고사정보", index=['1차성적','2차성적','3차성적'])
sr

1차성적     우수등급
2차성적    최우수등급
3차성적     우수등급
Name: 홍길동_모의고사정보, dtype: object

# 기타 속성

In [13]:
sr.shape # 3행 1열의 의미

(3,)

In [14]:
sr.ndim #차원수를 나타냄

1

In [15]:
sr.size

3

# 데이터프레임 주요 멤버속성 알아보기

In [20]:
import pandas as pd

df = pd.DataFrame(
    [[1, 2, 3, 4],
     [5, 6, 7, 8]],
    index=list('ab'),
    columns=list('defg')
)
df

   d  e  f  g
a  1  2  3  4
b  5  6  7  8

In [21]:
df.shape

(2, 4)

In [28]:
df.ndim

2

In [23]:
df.size

8

* 요약 정보 보기

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   d       2 non-null      int64
 1   e       2 non-null      int64
 2   f       2 non-null      int64
 3   g       2 non-null      int64
dtypes: int64(4)
memory usage: 80.0+ bytes

In [26]:
df.values

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])