# 08까지_문제정답

Pandas 기초 문법 연습문제와 정답입니다.

In [2]:
import pandas as pd

## 1) 시리즈 생성 & 브로드캐스팅 (급여 5% 인상)

리스트 [3_200_000, 3_800_000, 4_100_000, 2_900_000, 5_200_000]로 시리즈 salary를 만들고, 전 직원 급여를 5% 인상한 시리즈를 계산하세요.

In [3]:
salary = pd.Series([3_200_000, 3_800_000, 4_100_000, 2_900_000, 5_200_000])
salary * 1.05

0    3360000.0
1    3990000.0
2    4305000.0
3    3045000.0
4    5460000.0
dtype: float64

## 2) 데이터프레임 생성 & 기본 속성

아래 데이터로 df_signup을 만들고 head(2), shape, columns, dtypes를 확인하세요.
{
  "고객ID": [101, 102, 103, 104, 105],
  "채널": ["검색광고", "지인추천", "검색광고", "SNS", "지인추천"],
  "가입일": ["2025-08-01", "2025-08-02", "2025-08-02", "2025-08-03", "2025-08-03"]
}

In [ ]:
df_signup = pd.DataFrame({
    "고객ID": [101, 102, 103, 104, 105],
    "채널": ["검색광고", "지인추천", "검색광고", "SNS", "지인추천"],
    "가입일": ["2025-08-01", "2025-08-02", "2025-08-02", "2025-08-03", "2025-08-03"]
})

In [ ]:
df_signup.head(2)

In [ ]:
df_signup.shape

In [ ]:
df_signup.columns

In [ ]:
df_signup.dtypes

(   고객ID    채널         가입일
 0   101  검색광고  2025-08-01
 1   102  지인추천  2025-08-02,
 (5, 3),
 Index(['고객ID', '채널', '가입일'], dtype='object'),
 고객ID     int64
 채널      object
 가입일     object
 dtype: object)

## 4) 브로드캐스팅 신규 열 (등록금 → 백만원)

아래 데이터로 df_fee를 만들고, 등록금_백만원 = '대학교 등록금' / 1_000_000 열을 추가하세요.
{
  "대학": ["가람대", "누리대", "한빛대", "다온대", "이룸대"],
  "지역": ["서울", "부산", "대구", "광주", "대전"],
  "대학교 등록금": [7_200_000, 5_800_000, 6_400_000, 5_100_000, 6_800_000]
}

In [ ]:
df_fee = pd.DataFrame({
    "대학": ["가람대", "누리대", "한빛대", "다온대", "이룸대"],
    "지역": ["서울", "부산", "대구", "광주", "대전"],
    "대학교 등록금": [7_200_000, 5_800_000, 6_400_000, 5_100_000, 6_800_000]
})
df_fee["등록금_백만원"] = df_fee["대학교 등록금"] / 1_000_000
df_fee

## 5) 고액 등록금 여부 열

문제 4의 df_fee에 고액등록금 = ('대학교 등록금' >= 6_500_000) 불리언 열을 추가하세요.

In [ ]:
df_fee["고액등록금"] = df_fee["대학교 등록금"] >= 6_500_000
df_fee

## 6) 서울만 할인 테이블 만들기

문제 4의 df_fee에서 지역이 '서울'인 행만 df_seoul로 추출하고, 할인등록금_서울만 = '대학교 등록금' * 0.95 열을 추가하세요.

In [ ]:
mask_seoul = df_fee["지역"] == "서울"
df_seoul = df_fee[mask_seoul].copy()
df_seoul["할인등록금_서울만"] = df_seoul["대학교 등록금"] * 0.95
df_seoul[["대학", "지역", "대학교 등록금", "할인등록금_서울만"]]

## 8) axis 합계 (월별/지표별 합)

아래 데이터로 df_kpi를 만들고, sum(axis=0)으로 월별 합, sum(axis=1)으로 지표별 합을 구하세요.
{
  "지표": ["방문자수", "신규가입", "구매건수"],
  "2025-06": [12000, 350, 180],
  "2025-07": [13500, 410, 205],
  "2025-08": [14200, 390, 210]
}

In [ ]:
df_kpi = pd.DataFrame({
    "지표": ["방문자수", "신규가입", "구매건수"],
    "2025-06": [12000, 350, 180],
    "2025-07": [13500, 410, 205],
    "2025-08": [14200, 390, 210]
})
df_kpi_idx = df_kpi.set_index("지표")
월별합 = df_kpi_idx.sum(axis=0)
지표별합 = df_kpi_idx.sum(axis=1)
(월별합, 지표별합)