# 8~12강 문법 범위 연습문제 (정답 제거 버전)
- 사용 문법: 논리식 검색(boolean indexing), 팬시 인덱싱(fancy indexing), `loc` 인덱서만 사용
- 첫 셀에서 데이터를 로드한 뒤, 각 문제 아래의 **빈 코드 셀**에 풀이를 작성하세요.
- `sat` CSV가 없다면 해당 줄을 주석 처리하고 나머지 문제를 풉니다.

In [ ]:
# 데이터 로드 셀
import pandas as pd
import seaborn as sns

# 수업 자료 경로에 CSV가 있는 경우에만 사용하세요.
# 파일이 없다면 아래 줄을 주석 처리하세요.
sat = pd.read_csv('data/2014_korea_sat_scores.csv', encoding='cp949')

# seaborn 내장 데이터셋 (환경에 따라 미리 설치/설정 필요할 수 있습니다)
titanic = sns.load_dataset('titanic')
diamonds = sns.load_dataset('diamonds')

# 로드 확인 (필수 아님)
try:
    print('sat:', sat.shape)
except NameError:
    print('sat: (not loaded)')
print('titanic:', titanic.shape)
print('diamonds:', diamonds.shape)

### 문제 1
`sat` 데이터프레임에서 `도수(명)`이 20,000보다 작은 모든 행을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 2
`sat` 데이터프레임에서 `비율(%)`이 10보다 큰 행을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 3
`sat` 데이터프레임에서 `도수(명)`이 20,000보다 작고 `비율(%)`이 5보다 작은 행을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 4
`sat` 데이터프레임에서 `도수(명)`이 20,000보다 작거나 `비율(%)`이 10보다 작은 행을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 5
`titanic` 데이터프레임에서 `age`, `sex`, `alive` 열만 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 6
`titanic` 데이터프레임에서 `age` 열의 0, 3, 4번째 인덱스 값을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 7
`diamonds` 데이터프레임에서 인덱스 1의 `price` 값을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 8
`diamonds` 데이터프레임에서 인덱스 2의 `clarity` 값을 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 9
`diamonds` 데이터프레임에서 인덱스 10~25의 모든 `carat` 데이터를 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요

### 문제 10
`diamonds` 데이터프레임에서 인덱스 10~25의 모든 `carat`과 `depth` 데이터를 출력하세요.

In [ ]:
# 여기에 풀이 코드를 작성하세요