In [1]:
import pandas as pd
from IPython.display import display, HTML
HTML('<style>.output {flex-direction: row;}</style>')

In [2]:
asia = pd.read_csv('data/dataset_raw_data.csv', encoding='cp949')
asia.shape

(95012, 12)

In [3]:
asia.head()

,노선명,항공사,출발 공항,출발 국가,도착 공항,도착 국가,기체번호,기종,정원(전체),년도,월,일
0,7J105,Tajik Air,DYU,TJK,IKA,IRI,EY-444,B737-3L9,149,2018,1,7
1,7J105,Tajik Air,DYU,TJK,IKA,IRI,EY-444,B737-3L9,149,2018,1,14
2,7J105,Tajik Air,DYU,TJK,IKA,IRI,EY-444,B737-3L9,149,2018,1,21
3,7J105,Tajik Air,DYU,TJK,IKA,IRI,EY-444,B737-3L9,149,2018,1,29
4,7J105,Tajik Air,DYU,TJK,IKA,IRI,EY-444,B737-3L9,149,2018,2,4

In [4]:
asia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95012 entries, 0 to 95011
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   노선명     95012 non-null  object
 1   항공사     95012 non-null  object
 2   출발 공항   95012 non-null  object
 3   출발 국가   95012 non-null  object
 4   도착 공항   95012 non-null  object
 5   도착 국가   95012 non-null  object
 6   기체번호    95012 non-null  object
 7   기종      95012 non-null  object
 8   정원(전체)  95012 non-null  int64
 9   년도      95012 non-null  int64
 10  월       95012 non-null  int64
 11  일       95012 non-null  int64
dtypes: int64(4), object(8)
memory usage: 8.7+ MB

In [5]:
asia_dep_port = asia.groupby(["항공사","출발 공항","출발 국가","도착 공항","도착 국가","년도","월"])
a = asia_dep_port.agg({'월':'count',
                       '년도':'count',
                       '출발 국가':'count',
                       '도착 국가':'count',
                       '정원(전체)':'sum'})

In [6]:
a.head()

                                                           월  년도  출발 국가  \
항공사                      출발 공항 출발 국가 도착 공항 도착 국가 년도   월
AZAL Azerbaijan Airlines SCO   KAZ   GYD   AZE   2016 6    8   8      8
                                                      7    7   7      7
                                                      8   12  12     12
                                                      9    2   2      2
                                                      11   2   2      2

                                                          도착 국가  정원(전체)
항공사                      출발 공항 출발 국가 도착 공항 도착 국가 년도   월
AZAL Azerbaijan Airlines SCO   KAZ   GYD   AZE   2016 6       8     500
                                                      7       7     514
                                                      8      12     760
                                                      9       2     164
                                                      11      2     140

In [7]:
a.shape

(7769, 5)

In [8]:
a.to_csv('data/groupby_result.csv', encoding='cp949')