# KOSDAQ 데이터 분석 실습 (예시 정답)

In [10]:
import pandas as pd
import numpy as np

# 데이터 로드
df = pd.read_csv("data/kosdak.csv")

## 문제 1. 결측치 확인

In [12]:

df["주요제품"] = df["주요제품"].fillna("정보없음")
df["홈페이지"] = df["홈페이지"].fillna("없음")

null_counts.head(5)

회사명     0
종목코드    0
업종      0
주요제품    0
상장일     0
dtype: int64

## 문제 2. 중복 데이터 확인

In [13]:

dup_rows = df.duplicated().sum()
dup_rows

np.int64(0)

## 문제 3. 지역별 기업 수

In [17]:
pd.DataFrame(df["지역"].value_counts())

         count
지역
서울특별시      431
경기도        424
충청남도        60
인천광역시       50
충청북도        49
경상남도        48
부산광역시       40
경상북도        37
대구광역시       32
대전광역시       32
강원도         15
전라북도        11
전라남도         9
울산광역시        8
홍콩           8
광주광역시        8
케이맨 제도       5
세종특별자치시      4
미국           4
제주특별자치도      3
일본           2

# 문제 4 기업수가 가장 많은 지역과 갯수는?

In [15]:
region_counts.iloc[0]

지역     서울특별시
기업수      431
Name: 0, dtype: object

## 문제 5. 업종별 기업 수 (상위 5개)

In [19]:
pd.DataFrame(df["업종"].value_counts()).head()

                count
업종
특수 목적용 기계 제조업     102
소프트웨어 개발 및 공급업     98
전자부품 제조업           91
통신 및 방송 장비 제조업     62
자동차 신품 부품 제조업      47

## 문제 6. 상위 15개 업종에 대하여 지역열 업체수분석

In [24]:
top15_list = pd.DataFrame(df["업종"].value_counts()).head(15).index.tolist()

In [25]:
df_top15 = df[df['업종'].isin(top15_list)]

In [26]:
pd.pivot_table(
    df_top15,
    index="업종",
    columns="지역",
    values="회사명",
    aggfunc="count",
    fill_value=0
)

지역,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,미국,부산광역시,서울특별시,...,울산광역시,인천광역시,일본,전라남도,전라북도,제주특별자치도,충청남도,충청북도,케이맨 제도,홍콩
업종,,,,,,,,,,,,,,,,,,,,,
금융 지원 서비스업,0,0,0,0,0,0,0,0,0,38,...,0,0,0,0,0,0,0,0,0,0
기초 의약물질 및 생물학적 제제 제조업,1,6,0,0,1,0,4,1,0,8,...,0,0,0,1,0,0,0,2,0,0
기타 금융업,0,9,0,0,0,1,1,0,0,10,...,1,1,0,0,2,0,1,1,5,7
기타 화학제품 제조업,0,14,0,1,0,0,3,1,0,6,...,1,1,0,0,0,0,3,5,0,0
반도체 제조업,0,23,0,0,0,1,2,0,0,4,...,0,0,0,0,1,1,5,4,0,0
소프트웨어 개발 및 공급업,0,30,0,0,0,0,1,0,1,65,...,0,0,1,0,0,0,0,0,0,0
의료용 기기 제조업,2,16,0,0,0,0,1,0,1,7,...,0,0,0,0,0,0,1,0,0,0
의약품 제조업,3,19,1,0,0,0,0,0,1,10,...,0,1,0,0,0,0,0,4,0,0
일반 목적용 기계 제조업,0,3,6,0,1,2,1,0,3,4,...,0,3,0,0,0,0,0,0,0,0
자동차 신품 부품 제조업,0,12,5,9,0,4,0,0,5,2,...,3,1,0,0,1,0,5,0,0,0
자연과학 및 공학 연구개발업,0,12,0,0,0,0,2,0,1,5,...,0,1,0,0,0,0,0,1,0,0
전자부품 제조업,0,45,3,7,0,5,4,0,2,6,...,0,7,0,0,0,0,9,2,0,0
"컴퓨터 프로그래밍, 시스템 통합 및 관리업",0,6,0,1,1,0,0,0,0,17,...,0,1,0,0,0,0,0,0,0,0
통신 및 방송 장비 제조업,0,39,0,1,2,1,2,0,1,12,...,0,4,0,0,0,0,0,0,0,0
특수 목적용 기계 제조업,0,54,7,4,0,7,3,0,0,4,...,0,8,0,0,0,0,11,4,0,0

# 문제 7. 상위 15개 업종에 대하여 업종별로 기업이 가장 많은 지역  
[힌트] idxmax(axis=1) 인덱스별 최대값이 있는 라벨

s = pd.Series([10, 30, 20], index=["a", "b", "c"])
print(s.idxmax())
# 결과 b

In [29]:
pivot_ind_region.idxmax(axis=1).to_frame(name="최다지역")

                          최다지역
업종
금융 지원 서비스업               서울특별시
기초 의약물질 및 생물학적 제제 제조업    서울특별시
기타 금융업                   서울특별시
기타 화학제품 제조업                경기도
반도체 제조업                    경기도
소프트웨어 개발 및 공급업           서울특별시
의료용 기기 제조업                 경기도
의약품 제조업                    경기도
일반 목적용 기계 제조업             경상남도
자동차 신품 부품 제조업              경기도
자연과학 및 공학 연구개발업            경기도
전자부품 제조업                   경기도
컴퓨터 프로그래밍, 시스템 통합 및 관리업  서울특별시
통신 및 방송 장비 제조업             경기도
특수 목적용 기계 제조업              경기도