In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager,rc
# 한글 폰트
font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)

# 데이터 선정

In [6]:
df = pd.read_csv('한국도로교통공단_시도 시군구별 교통사고 통계_20241231.csv',encoding='cp949')
df.head()

   시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  서울   종로구   917     5   230   938      85
1  서울    중구   976    16   241   876     119
2  서울   용산구   868    12   224   917      33
3  서울   성동구   919     7   210   889      56
4  서울  동대문구  1520     5   403  1369     134

* 공공데이터 포털에서 csv 파일 검색

수치형 데이터가 아닌 범주형 문자열 데이터

# 데이터 읽기

# 데이터 기본 분석

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      229 non-null    object
 1   시군구     229 non-null    object
 2   사고건수    229 non-null    int64
 3   사망자수    229 non-null    int64
 4   중상자수    229 non-null    int64
 5   경상자수    229 non-null    int64
 6   부상신고자수  229 non-null    int64
dtypes: int64(5), object(2)
memory usage: 12.7+ KB

# 데이터 전처리

* 결측치
* 이상치
* 중복데이터

# 분석용 데이터 변환

* value_counts()
* 사용자 정의 전처리: apply()

# 시각화

* Bar차트

* 파이 차트