In [1]:
from bs4 import BeautifulSoup
import pandas as pd

# 데이터 로드

In [2]:
with open('2_상품랭킹.html', 'r', encoding='utf-8') as file:
    html_content = file.read()
soup = BeautifulSoup(html_content, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   상품 판매 순위
  </title>
  <link href="p_style.css" rel="stylesheet"/>
 </head>
 <body>
  <h1>
   코드랩 전자몰 카테고리별 판매 순위
  </h1>
  <table id="salesRanking">
   <thead>
    <tr>
     <th>
      순위
     </th>
     <th>
      상품명
     </th>
     <th>
      판매량
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      스마트폰
     </td>
     <td>
      1500
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      노트북
     </td>
     <td>
      1000
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      헤드폰
     </td>
     <td>
      900
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      태블릿
     </td>
     <td>
      850
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      스마트워치
     </td>
     <td>
      800
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
      이어폰
     </td>
     <td>
      700
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
      카메라
     </td>
     <td>
      650
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td>
      키보드
     </td>
     <td>
      600
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td>
      마우스
     </td>
     <td>
      550
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td>
      모니터
     </td>
     <td>
      500
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>

In [3]:
soup = BeautifulSoup(html_content, 'html.parser')
table = soup.find('table', id='salesRanking')

# 테이블의 행 데이터를 추출하여 데이터프레임으로 변환
rows = table.find_all('tr')
rows[:3]

[<tr>
 <th>순위</th>
 <th>상품명</th>
 <th>판매량</th>
 </tr>,
 <tr>
 <td>1</td>
 <td>스마트폰</td>
 <td>1500</td>
 </tr>,
 <tr>
 <td>2</td>
 <td>노트북</td>
 <td>1000</td>
 </tr>]

In [4]:
data = []
for row in rows[1:]:  # 헤더 제외하고 반복
    cols = row.find_all('td')
    data.append([ele.text.strip() for ele in cols])

df = pd.DataFrame(data, columns=['순위', '상품명', '판매량'])
df

   순위    상품명   판매량
0   1   스마트폰  1500
1   2    노트북  1000
2   3    헤드폰   900
3   4    태블릿   850
4   5  스마트워치   800
5   6    이어폰   700
6   7    카메라   650
7   8    키보드   600
8   9    마우스   550
9  10    모니터   500