## 주요절차

### 1. 초기데이터 분석

#### 1-1. 데이터딕셔너리(각 열의 의미, 데이터의 의미해석관련 스펙 또는 메뉴얼) 확인
#### 1-2 데이터 기초정보 확인 (사이즈, 열이름, 데이터형)

유무 확인)차트 재확인 (이

* 기초통계정보 확인

기초 통계값 확인 ( df.describe() )
[수치형 데이터] 
=> 수치데이터로서 의미가 는지 판단? 
=> 의미가 있는(예: 키, 몸무게, 가격등) 열에 대해 아래 작업 진행  분석
 - 확인해야 할 사항    수치상
mean, min, 1q, 2q(중위값), 3q,게, 가격
 - 시각화
  히스토그램, 박스플롯 (바이올린플롯)
 - 이상치 유무 확인
 - 이상치가 있다면 보정방식을 선택
  (예: 삭제, 포함)
- 기초통계값과, 차트 재확인 (이상
[보정  데이터]유무 확인)
- 문자열
 => unique의 결과값에서 파이차트나 막대차트로 그릴수  - 있는 열이 있는지 확인
 10개미만은 파이차트,  - 도우넛차트 그리기에 용이
 10개상위 은 파이차트, 막대차트(Top3,5,10 등을 도출.. 그리고 형 데이터나하위 데이터3,5,10)

* 수치 문자 중에 범위화 할 
 예)수 있는 열이 있는지 확인해 보자
 가격=> 초고가, 고가,위 작업은  일반, 저가
 주소 추후 진행할 수 있다.pply 함수를 통해ly 함수를 통해

In [7]:
import pandas as pd

file1 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202301.csv', encoding='cp949')
file2 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202302.csv', encoding='cp949')
file3 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202303.csv', encoding='cp949')
file4 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202304.csv', encoding='cp949')
file5 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202305.csv', encoding='cp949')
file6 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202306.csv', encoding='cp949')
file7 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202307.csv', encoding='cp949')
file8 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202308.csv', encoding='cp949')
file9 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202309.csv', encoding='cp949')
file10 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202310.csv', encoding='cp949')
file11 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202311.csv', encoding='cp949')
file12 = pd.read_csv('유성구_1인당 평균 소비 금액 데이터_202312.csv', encoding='cp949')

df = pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12])

df

,기준년도,기준월,법정동코드,법정동명,표준산업대분류코드,표준산업대분류명,1인당 소비 금액
0,2023,1,30200126,가정동,C,제조업(10-34),33800
1,2023,1,30200126,가정동,G,도매 및 소매업(45-47),40200
2,2023,1,30200126,가정동,I,숙박 및 음식점업(55-56),21300
3,2023,1,30200126,가정동,P,교육 서비스업(85),74400
4,2023,1,30200126,가정동,Q,보건업 및 사회복지 서비스업(86-87),17800
...,...,...,...,...,...,...,...
442,2023,12,30200130,화암동,I,숙박 및 음식점업(55-56),26900
443,2023,12,30200130,화암동,O,공공 행정 국방 및 사회보장 행정(84),40800
444,2023,12,30200130,화암동,P,교육 서비스업(85),445800
445,2023,12,30200130,화암동,Q,보건업 및 사회복지 서비스업(86-87),575500
446,2023,12,30200130,화암동,S,협회 및 단체 수리 및 기타 개인 서비스업(94-96),289200

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5014 entries, 0 to 446
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준년도       5014 non-null   int64
 1   기준월        5014 non-null   int64
 2   법정동코드      5014 non-null   int64
 3   법정동명       5014 non-null   object
 4   표준산업대분류코드  5014 non-null   object
 5   표준산업대분류명   5014 non-null   object
 6   1인당 소비 금액  5014 non-null   int64
dtypes: int64(4), object(3)
memory usage: 313.4+ KB

In [9]:
df['기준월'].value_counts()

기준월
10    449
11    448
12    447
9     427
8     423
3     410
4     406
5     406
1     403
6     402
7     398
2     395
Name: count, dtype: int64

In [10]:
df_group = df.groupby('기준월').agg({
    '1인당 소비 금액':'sum',
}).reset_index()
df_group

    기준월  1인당 소비 금액
0     1   81955400
1     2   77423100
2     3   88756500
3     4   71956400
4     5   76888400
5     6   83148800
6     7   78978300
7     8   96580300
8     9   88243900
9    10   85733800
10   11   88249300
11   12   97462700

In [11]:
df['법정동명'].value_counts()

법정동명
지족동     165
궁동      157
도룡동     156
구암동     148
반석동     147
봉명동     143
관평동     139
교촌동     137
장대동     136
덕명동     135
복용동     134
송강동     134
전민동     133
상대동     133
구성동     132
용산동     125
죽동      124
노은동     121
계산동     117
원신흥동    114
하기동     113
원내동     113
갑동      108
용계동     103
대정동     100
어은동     100
자운동      99
문지동      97
원촌동      95
신봉동      92
성북동      85
탑립동      82
방동       79
외삼동      79
봉산동      76
장동       74
화암동      73
학하동      73
추목동      72
신성동      72
가정동      72
안산동      64
덕진동      48
방현동      48
세동       47
구룡동      45
수남동      41
둔곡동      36
신동       36
송정동      36
대동       14
금고동      12
Name: count, dtype: int64

In [12]:
df_group = df.groupby('법정동명').agg({
    '1인당 소비 금액':'sum',
}).reset_index()
df_group

    법정동명  1인당 소비 금액
0    가정동    2609600
1     갑동   37369900
2    계산동   16151800
3    관평동   18617600
4    교촌동   80818300
5    구룡동    7627700
6    구성동   12262600
7    구암동   18281100
8     궁동   20272200
9    금고동     204500
10   노은동   42001700
11    대동     960000
12   대정동   35804400
13   덕명동   16501400
14   덕진동    2365600
15   도룡동   32653500
16   둔곡동    3866400
17   문지동   15084900
18   반석동   14676800
19    방동   11328900
20   방현동    8185500
21   복용동   33552300
22   봉명동   31669200
23   봉산동   15212500
24   상대동   13123600
25   성북동   15038600
26    세동    9941600
27   송강동   16041400
28   송정동    2704000
29   수남동    5295900
30    신동    1516400
31   신봉동   10098800
32   신성동   14303900
33   안산동   33305400
34   어은동    6972300
35   외삼동   18587000
36   용계동   22205000
37   용산동   35197900
38   원내동   15428700
39  원신흥동   27136400
40   원촌동   20400100
41   자운동   17059700
42   장대동   23665800
43    장동   30229400
44   전민동   12475400
45    죽동   33424300
46   지족동   20420600
47   추목동    8739100
48   탑립동   24273200
49   하기동   10395800
50   학하동   61907500
51   화암동   27410700

In [13]:
df_group = df.groupby(['기준월','법정동명']).agg({
    '1인당 소비 금액':'sum',
}).reset_index()
df_group

     기준월 법정동명  1인당 소비 금액
0      1  가정동     195500
1      1   갑동    2449200
2      1  계산동    2199400
3      1  관평동    1127200
4      1  교촌동    7197100
..   ...  ...        ...
613   12  추목동     567800
614   12  탑립동    1486000
615   12  하기동    1166600
616   12  학하동    3489300
617   12  화암동    1465500

[618 rows x 3 columns]

In [ ]:
표준산업대분류명

In [14]:
df_group = df.groupby('표준산업대분류명').agg({
    '1인당 소비 금액':'sum',
}).reset_index()
df_group

                           표준산업대분류명  1인당 소비 금액
0                        건설업(41-42)  123397100
1            공공 행정 국방 및 사회보장 행정(84)   82635800
2                       교육 서비스업(85)  187105400
3                   금융 및 보험업(64-66)    3083600
4                   금융 및 보험업(64~66)   27815600
5                   도매 및 소매업(45-47)   95837500
6            보건업 및 사회복지 서비스업(86-87)   54533600
7                          부동산업(68)   22556600
8   사업시설 관리  사업 지원 및 임대 서비스업(74-76)   48334500
9                  숙박 및 음식점업(55-56)   32916900
10       예술  스포츠 및 여가관련 서비스업(90-91)   52035200
11                  운수 및 창고업(49-52)   28729800
12          전문  과학 및 기술 서비스업(70-73)  100227300
13                     정보통신업(58-63)    1846200
14                       제조업(10-34)   92878100
15  협회 및 단체  수리 및 기타 개인 서비스업(94-96)   61443700

In [16]:
df_group = df.groupby('표준산업대분류코드').agg({
    '1인당 소비 금액':'sum',
}).reset_index()
df_group

   표준산업대분류코드  1인당 소비 금액
0          C   92878100
1          F  123397100
2          G   95837500
3          H   28729800
4          I   32916900
5          J    1846200
6          K   30899200
7          L   22556600
8          M  100227300
9          N   48334500
10         O   82635800
11         P  187105400
12         Q   54533600
13         R   52035200
14         S   61443700

### 2. 데이터 정제

#### 2.1. 원본데이터에서 분석가능한 형태로 데이터 전처리 (형변환, 열이름 변경등)
#### 2.2. 데이터 클리닝: 이상치, 결측치처리

### 3. 추가데이터 분석

#### 3.1 데이터 정제후 데이터딕셔너리 재확인
#### 3.2 기초통계 정보 확인 (최대값, 최소값, 평균값, 표준편차, 최빈값, 유일값 등)
#### 3.3 시각화를 통한 데이터이해 심화

* 3.3.1 단일 열: 데이터의 성격에 따른 다양한 차트 적용  
* 3.3.2 복수 열: 두개의 열간 연관관계 분석(Pair Plot 또는 Seaborn의 관련 지원 차트등)

#### 3.4 데이터 분석 결과도출

# 데이터분석 적용 실습 템플릿

## 데이터 수집

In [1]:
# 데이터 소스를 확보하세요

## 1. 초기데이터 분석

### 1-1. 데이터스키마 확인

#### 각 열의 의미, 데이터의 의미해석관련 스펙 또는 메뉴얼을 확인 가능시 진행 하세요
* A열: A열의 의미를 기술
* B열: B열의 의미를 기술  
...

### 1-2. 데이터 기초정보 확인

* 사이즈, 데이터형, 기초통계항목등을 확인하세요

In [ ]:
#df.shape
#df.info()

* 기초통계항목

In [ ]:
# df.desribe()

## 2. 데이터 정제

### 2-1. 간단한 데이터 전처리

In [5]:
# 원본데이터로에서 읽기 가능한 형태로 데이터처리를 하세요. (열이름 변경, 형변환 등)

### 2-2. 데이터 클리닝

In [6]:
# 결측치, 중복값, 이상치 처리등의 작업을 진행하세요

* 결측치

    - 결측치 열 확인

In [ ]:
# missing_values = df.isnull().any()  
# column_missing_values = missing_values[ missing_values == True ]
# column_missing_values

   - 결측값이 있는 모든 행 확인

In [ ]:
# df.isnull().any(axis=1)

* 결측치 보정

   - 열에 대하여 단일 값 보정

In [ ]:
# df['나이'] = df['나이'].fillna(0)

   - 데이터 프레임 전체에 단일 값 보정

In [1]:
# df = df.fillna(0)

* 중복값 삭제 (필요시)

  - 모든 중복 행데이터 확인

In [ ]:
# df[df.duplicated(keep=False)]

  - 모든 중복 행데이터 삭제

In [ ]:
# df.drop_duplicates(inplace=True)

## 3. 추가데이터 분석

### 3.1. 데이터 정제후 데이터스키마 재확인

* 1-2 작업을 다시 해보세요.

### 3.2 데이터 기초정보 정보 확인

* 최대값, 최소값, 평균값, 표준편차, 최빈값, 유일값, 결측치, 이상치 등의 정보를 재확인해 보세요

### 3.3 시각화를 통한 데이터이해 심화

* 데이터의 성격에 따라 이해도를 올리기 위해 시각화가 필요한 데이터차트를 만들어 보세요.  
  (Seaborn 추천: 페어플롯, 막대차트, 파이차트, 라인차트, 히스토그램등..)
* 시각화한 차트에 대한 분석

### 3.4 최종 데이터 분석 결과도출

* 데이터 분석을 통해 얻은 새로운 지식, 인사이트를 정리하세요.
* 새로운 지식 및 인사이트 별 비지니스 전략을 도출할 수 있으면 정리해 보세요