In [2]:
import json
import pandas as pd

# 원본데이터

{"response":{"header":{"resultCode":"0000","resultMsg":"OK"},"body":{"items":{"item":{"ed":"국민해외관광객","edCd":"D","natCd":100,"natKorNm":"한  국","num":2219151,"rnum":1,"ym":202406}},"numOfRows":10,"pageNo":1,"totalCount":1}}}

# 구조파악

{
	"response":{
	"header":
		{"resultCode":"0000","resultMsg":"OK"},
		"body":	{
				"items":{
					"item":{
						"ed":"국민해외관광객",
						"edCd":"D",
						"natCd":100,
						"natKorNm":"한  국",
						"num":2219151,
						"rnum":1,
						"ym":202406
					}
				},
				"numOfRows":10,"pageNo":1,"totalCount":1
		}
	}
}

In [3]:
json_data = {
	"response":{
	"header":
		{"resultCode":"0000","resultMsg":"OK"},
		"body":	{
				"items":{
					"item":{
						"ed":"국민해외관광객",
						"edCd":"D",
						"natCd":100,
						"natKorNm":"한  국",
						"num":2219151,
						"rnum":1,
						"ym":202406
					}
				},
				"numOfRows":10,"pageNo":1,"totalCount":1
		}
	}
}

In [4]:
json_data

{'response': {'header': {'resultCode': '0000', 'resultMsg': 'OK'},
  'body': {'items': {'item': {'ed': '국민해외관광객',
     'edCd': 'D',
     'natCd': 100,
     'natKorNm': '한  국',
     'num': 2219151,
     'rnum': 1,
     'ym': 202406}},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 1}}}

# 데이터 프레임 전환

In [5]:
json_data['response']['body']['items']['item']

{'ed': '국민해외관광객',
 'edCd': 'D',
 'natCd': 100,
 'natKorNm': '한  국',
 'num': 2219151,
 'rnum': 1,
 'ym': 202406}

In [13]:
# df = pd.DataFrame(json_data['response']['body']['items']['item'])
# df

In [14]:
item = json_data['response']['body']['items']['item']

In [15]:
item_list = [item]

In [16]:
df = pd.DataFrame(item_list)
df

        ed edCd  natCd natKorNm      num  rnum      ym
0  국민해외관광객    D    100     한  국  2219151     1  202406